@font-face {
  font-family: "Arial";
  src: local("Arial Black"), local("Arial-Black"), url("assets/fonts/Arial-Black.woff2") format("woff2"), url("assets/fonts/Arial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Arial Narrow";
  src: local("Arial Narrow Bold"), local("ArialNarrow-Bold"), url("assets/fonts/ArialNarrow-Bold.woff2") format("woff2"), url("assets/fonts/ArialNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Arial";
  src: local("Arial Italic"), local("Arial-ItalicMT"), url("assets/fonts/Arial-ItalicMT.woff2") format("woff2"), url("assets/fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Arial";
  src: local("Arial"), local("ArialMT"), url("assets/fonts/ArialMT.woff2") format("woff2"), url("assets/fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Arial Narrow";
  src: local("Arial Narrow Bold Italic"), local("ArialNarrow-BoldItalic"), url("assets/fonts/ArialNarrow-BoldItalic.woff2") format("woff2"), url("assets/fonts/ArialNarrow-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Arial";
  src: local("Arial Bold"), local("Arial-BoldMT"), url("assets/fonts/Arial-BoldMT.woff2") format("woff2"), url("assets/fonts/Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Georgia";
  src: local("Georgia Bold Italic"), local("Georgia-BoldItalic"), url("assets/fonts/Georgia-BoldItalic.woff2") format("woff2"), url("assets/fonts/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Arial Narrow";
  src: local("Arial Narrow Italic"), local("ArialNarrow-Italic"), url("assets/fonts/ArialNarrow-Italic.woff2") format("woff2"), url("assets/fonts/ArialNarrow-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Georgia";
  src: local("Georgia Bold"), local("Georgia-Bold"), url("assets/fonts/Georgia-Bold.woff2") format("woff2"), url("assets/fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Arial Narrow";
  src: local("Arial Narrow"), local("ArialNarrow"), url("assets/fonts/ArialNarrow.woff2") format("woff2"), url("assets/fonts/ArialNarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Arial";
  src: local("Arial Bold Italic"), local("Arial-BoldItalicMT"), url("assets/fonts/Arial-BoldItalicMT.woff2") format("woff2"), url("assets/fonts/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Georgia";
  src: local("Georgia Italic"), local("Georgia-Italic"), url("assets/fonts/Georgia-Italic.woff2") format("woff2"), url("assets/fonts/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Georgia";
  src: local("Georgia"), url("assets/fonts/Georgia.woff2") format("woff2"), url("assets/fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
.page-header .nav-list {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.page-header .nav-link {
  transition: all 0.3s ease;
}

.page {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
}

a,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

p,
h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-header {
  padding: 30px 40px;
  background-color: #FFFFFF;
}
@media (max-width: 768px) {
  .page-header {
    padding: 30px 30px;
  }
}
.page-header .header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.page-header .logo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}
.page-header .title {
  font-family: "Georgia", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  font-size: 3.2em;
  color: #545454;
}
.page-header .subtitle {
  font-size: 1.3em;
  letter-spacing: 0.1em;
  color: #292929;
}
.page-header .nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 1.5em;
  gap: 2.33em;
}
.page-header .nav-item {
  padding: 0.6em 0;
}
.page-header .nav-link {
  display: block;
  height: 100%;
  line-height: 160%;
  color: #545454;
  letter-spacing: 0.004em; /* pp */
  margin-bottom: 3px; /* pp */
  border-bottom: 3px solid transparent;
}
.page-header .nav-link.active {
  pointer-events: none;
}
.page-header .nav-link.active, .page-header .nav-link:active {
  border-color: #F1CDB3;
}
@media (hover: hover) {
  .page-header .nav-link:hover {
    color: #292929;
  }
}
.page-header_main {
  padding-top: 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(34, 34, 79);
}
@media (max-width: 768px) {
  .page-header_main {
    padding-top: 30px;
  }
}
.page-header_main .title {
  color: #F1CDB3;
}
.page-header_main .subtitle {
  color: #FFFFFF;
}
.page-header_main .nav-link {
  color: #CDCDCD;
}
.page-header_main .nav-link.active, .page-header_main .nav-link:active {
  color: #FAFAFA;
}
@media (hover: hover) {
  .page-header_main .nav-link:hover {
    color: #FAFAFA;
  }
}/*# sourceMappingURL=style.css.map */