.game {
  position: relative;
  @include flex-col();
  gap: 10px;
  padding: 10px;
  background-color: bisque;

  &-status {
    @include flex();
    gap: 10px;
  }

  &-bombs,
  &-flags,
  &-moves,
  &-time {
    display: inline-flex;
    gap: 5px;
    &::before {
      display: block;
    }
  }

  &-bombs::before {
    content: "bombs";
  }

  &-flags::before {
    content: "flags";
  }

  &-moves::before {
    content: "moves";
  }

  &-time::before {
    content: "time";
  }



  .game-blocker {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;


    &.active {
      width: 100%;
      height: 100%;

    }

    &.paused {
      background-color: rgba(102, 102, 102, 0.46);
      backdrop-filter: blur(5px);
    }
  }

}
