$font-color: rgb(255 255 255 / 40%);
$font-color-light: rgb(255 255 255 / 60%);
$bg-light: #503a4e;
$bg-dark: #312137;
$editor-bg: rgb(43 39 43 / 70%);
$editor-additional: rgb(241 0 255 / 10%);
$editor-additional-hover: rgb(241 0 255 / 20%);
$lighter-s: rgb(255 255 255 / 10%);
