$levels-width: 270px;
$burger-color: rgb(255 255 255);
$font-color: rgb(255 255 255 / 40%);
$font-color-light: rgb(255 255 255 / 60%);
$font-color-light-xl: rgb(255 255 255 / 80%);
$bg-light: rgb(87 65 56);
$bg-dark: rgb(50 40 21);
$editor-bg: rgb(50 40 21 / 70%);
$editor-counter: rgb(95 187 151 / 40%);
$editor-btn: rgb(95 187 151 / 60%);
$editor-btn-hover: rgb(95 187 151 / 80%);
$accent-color: rgb(201 66 119 / 50%);
$accent-color-m: rgb(201 66 119 / 80%);
$lighter-s: rgb(255 255 255 / 10%);
$outline-color: rgb(245 230 99 / 90%);
$blink-color: rgb(245 230 99 / 30%);
