.car {
  &__item {
    position: relative;
    z-index: 2;
    transform: translateX(0);
    width: calc(100% - $car-size);

    &::before {
      content: "";

      display: block;

      width: $car-size;
      height: $car-size;

      background: var(--car-color) url("@assets/img/petr.svg") center / contain no-repeat;

      mask: url("@assets/img/petr-mask.svg") center / contain no-repeat;

      -webkit-mask-image: url("@assets/img/petr-mask.svg");
      mask-image: url("@assets/img/petr-mask.svg");
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
    }
  }
}
