.section-hero {
  padding: 15em $padding-l 0;

  @include m-tablet {
    padding: 15em $padding-m 0;
  }

  @include m-mobile {
    padding: 15em $padding-s 0;
  }

  background: url("../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

  .container {
    @include flex($wrap:nowrap);
    gap: 2em;
    padding-top: 3em;
    @include m-tablet {
      flex-direction: column;
      padding-top: 0;
    }
  }

  .section-content {
    @include flex-col($ali: start);
    flex-basis: 39%;
    max-width: 46em;
    gap: 4.2em;
    padding-bottom: 83px;
    flex-shrink: 0;
    @include m-tablet {
      .btn {
        align-self: center;
      }
    }

    @include m-mobile {
      align-items: center;
      text-align: center;
      padding-bottom: 87px;
    }
  }

  .section-image {
    flex-shrink: 1;
    align-self: end;

    @include m-tablet {
      width: 80.1%;
    }

    @include m-mobile {
      width: 86.67%;
    }

    .img {
      vertical-align: bottom;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
