.popup {
  position: relative;
  max-width: 90em;
  width: 82%;
  background: $color-light-s;
  @include flex($wrap: nowrap, $ali: start);
  border-radius: 9px;
  overscroll-behavior: contain;

  @include m-custom(600px) {
    width: 75%;
  }

  .btn {
    position: absolute;
    left: 100%;
    bottom: 100%;

    @include m-tablet {
      left: 99%;
    }
    @include m-custom(700px) {
      left: 96%;
    }

    @include m-mobile {
      left: 93%;
    }

    @include m-mobilesmall {
      left: 89%;
    }
  }

  &-pic {
    flex-basis: 55%;
    flex-shrink: 1;
    align-self: center;
    border-radius: 9px 0 0 9px;
    overflow: hidden;

    @include m-mobile {
      display: none;
    }
  }

  &-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: saturate(70%) grayscale(5%);
  }

  &-content {
    @include flex-col($ali: start);
    padding: 2em;
    padding-left: 3em;
    gap: 4em;
    flex-basis: 45%;
    flex-grow: 1;

    @include m-tablet {
      gap: 2em;
      padding: 1em;
      padding-left: 1.3em;
    }
  }

  &-header {
    @include flex-col($wrap: nowrap);
    gap: 1em;
  }

  &-title {
    @include header_font;
    font-weight: 400;
    font-size: 3.5em;
  }

  &-subtitle {
    @include header_font;
    font-size: 2em;
    line-height: 115%;
  }

  &-description {
    @include header_font;
    font-size: 1.5em;
    line-height: 110%;

    @include m-tablet {
      font-size: 1.3em;
    }
  }

  &-list {
    @include header_font;
    @include flex-col($ali: start);
    gap: 1em;
    padding: 0;
    padding-left: 1.5em;
    margin: 0;

    @include m-tablet {
      gap: 0.6em;
    }

    &-item {
      font-size: 1.5em;
      line-height: 110%;

      &::marker {
        color: $color-primary;
      }

      .property {
        font-weight: 700;
      }
    }
  }
}
