.section {
  &-title {
    @include header_font();
    @extend %transition-s;
    margin: 0;
    font-size: 3.5em;
    line-height: 130%;
    color: $color-dark-l;

    @include m-mobile {
      font-size: 2.5em;
      text-align: center;
    }

    &_centered {
      text-align: center;
    }

    &_light {
      color: $color-light-xl;
    }

    &_xl {
      font-size: 4.4em;
      letter-spacing: 0.001em;
      @extend %transition-s;

      @include m-mobile {
        font-size: 2.5em;
        letter-spacing: 0.06em;
      }
    }
  }

  &-subtitle {
    @include header_font();
    font-size: 1.5em;
    line-height: 110%;
    color: $color-dark-l;
    @extend %transition-s;

    @include m-mobile {
      letter-spacing: normal;
      line-height: 160%;
    }
  }

  &-paragraph {
    @include primary_font();
    font-size: 1.5em;
    line-height: 160%;
    color: $color-dark-xl;

    &_light {
      color: $color-dark-s;
    }

    &_light-m {
      color: $color-dark-m;
    }

    &_xs {
      font-size: 1.2em;
      font-style: italic;
      line-height: 150%;
    }
  }

  &_light {
    background-color: $color-light-xl;
  }

  &_dark {
    background-color: $color-light-l;
  }

  &-main {
    @extend %transition-s;
    padding: 80px $padding-l 100px;

    @include m-tablet {
      padding: 80px $padding-m 100px;
    }

    @include m-mobile {
      padding: 42px $padding-s 42px;
    }

    .container {
      @include flex($wrap: nowrap, $jc: center);
      @extend %transition-s;

      @include m-tablet {
        @include flex-col();

        .section-image {
          order: 10;
        }
      }
    }

    & .section-image .img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;

      @include m-mobile {
        max-width: 26em;
      }
    }
  }

  &.about {
    .container {
      gap: 10%;

      @include m-tablet {
        gap: 8em;
      }

      @include m-mobile {
        gap: 4.2em;
      }
    }

    .section-content {
      @include flex-col($ali: start);
      gap: 2.5em;
      max-width: 43em;

      @include m-mobile {
        align-items: center;
        padding: 0 5%;

        .section-paragraph {
          text-align: justify;
          &:last-of-type {
            margin-top: -4px;
          }
        }
      }
    }
  }

  &.help {
    .section-content {
      @include flex-col();
      gap: 6em;
      @extend %transition-s;

      @include m-mobile {
        gap: 4.2em;
      }
    }
    .help-list {
      $icon-list: food, transportation, toys, bowl, shampoos, vitamins, medicines, collar, home;
      @extend %list;
      @include flex($jc: center);
      gap: 5.5em 11.4%;
      @extend %transition-s;

      @include m-tablet {
        justify-content: space-evenly;
        column-gap: 0;
      }

      @include m-mobile {
        gap: 3em 10%;
        justify-content: start;
        padding: 0 5px;
      }

      &__item {
        @include flex-col();
        gap: 3em;
        @extend %transition-s;

        @include m-tablet {
          flex-basis: 30%
        }

        @include m-mobile {
          flex-basis: 45%;
          gap: 2em;
        }
      }

      .text {
        @include header_font();
        font-size: 2em;
        color: $color-dark-l;
        text-align: center;
        @extend %transition-s;

        @include m-mobile {
          font-size: 1.5em;
        }
      }

      .icon {
        display: block;
        height: 6em;
        width: 6em;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        @include m-mobile {
          height: 5em;
          width: 5em;
        }
      }

      @each $icon in $icon-list {
        .icon-#{$icon} {
          background-image: url("../assets/svg/#{$icon}.svg");
        }
      }
    }
  }

  &.donate {
    .container {
      gap: 30px;

      @include m-tablet {
        gap: 5.8em;

        .section-image {
          padding-top: 3px;
        }
      }

      @include m-mobile {
        gap: 4.2em;

        .section-image {
          padding-top: 0;
        }

        .section-paragraph {
          text-align: justify;
          padding: 0 10px;
        }
      }
    }
    .section-content {
      @include flex-col($ali: flex-start);
      gap: 2em;
      max-width: 38em;

      @include m-mobile {
        align-items: center;
      }
    }
  }

  &.our-friends {
    .section-content {
      @include flex-col();
      gap: 5em;
      width: 100%;
      @extend %transition-s;

      @include m-mobile {
        gap: 3.2em;
      }
    }
  }

  &.pets {
    @include m-tablet {
      padding-bottom: 78px;
    }

    @include m-mobile {
      padding-bottom: 45px;
    }

    .section-content {
      @include flex-col();
      gap: 6em;
      width: 100%;

      @include m-tablet {
          gap: 3em;
      }

      @include m-mobile {
        gap: 4.2em;
      }
    }
    .cards-wrapper {
      @include flex($jc: center);
      gap: 3em 4em;

      @include m-custom(1279.98px) {
        margin-bottom: 1em;
      }

      @include m-mobile {
        margin-bottom: 0;
      }
    }

    .pagination {
      @include flex();
      gap: 2em;
      @include m-mobile {
        gap: 0;
        width: 100%;
      }
    }
  }
}
