@keyframes move-right {
  from {left: calc(-100% - 4em);}
  to {left: calc(-200% - 8em);}
}

@keyframes move-left {
  from {left: calc(-100% - 4em);}
  to {left: 0;}
}

.slider {
  $cards-gap: 4em;
  $card-size: $pet-card-size;
  $padding-size: 1em;
  $medium: $card-size * 3 + $cards-gap * 2  + $padding-size * 2;
  $small: $card-size * 2 + $cards-gap  + $padding-size * 2;
  @extend %transition-s;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: $round-button-size 1fr $round-button-size;
  justify-content: space-between;
  width: 100%;
  row-gap: 0;
  margin-bottom: 0;

  @include m-mobile {
    grid-template-columns: 1fr;

    row-gap: 1em;
    margin-bottom: 1em;
  }

  .btn-wrapper {
    @include flex();

    @include m-mobile {
      grid-row: 2/3;
      grid-column: 1/2;
      justify-self: center;
      width: 61%;

      gap: 1em;
    }

    grid-row: 1 / 2;
    grid-column: 1 / 4;
  }

  &__content {
    @include flex($wrap: nowrap, $jc: center);

    @include m-mobile {
      grid-column: 1 / 2;
    }

    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
    width: 100%;
    max-width: 101em;
    overflow: hidden;

    container: slider/ inline-size;
  }

  &__wrapper {
    @include flex($wrap: nowrap);
    position: relative;
    gap: $cards-gap;
    left: calc(-100% - 4em);

    &.transition-right {
      animation-name: move-right;
      animation-duration: 1.2s;
    }

    &.transition-left {
      animation-name: move-left;
      animation-duration: 1.2s;
    }
  }

  &__overflow,
  &__slide {
    width: 100%;
    overflow: hidden;
    @extend %transition-m;

    @container slider (max-width: #{$medium}) {
      width: $small;
    }

    @container slider (max-width: #{$small}) {
      width: $card-size + $padding-size * 2;
    }
  }

  &__slide {
    @include flex($wrap: nowrap);

    position: relative;
    z-index: 1;
    flex-shrink: 0;
    gap: $cards-gap;
    padding: $padding-size;
  }
}
