$color-dark-s:#CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;
$color-light-s: #FAFAFA;
$color-light-l: #CDCDCD;
$color-light-xl: #FFFFFF;
$color-primary: #F1CDB3;
$padding-s: 10px;
$padding-m: 30px;
$padding-l: 40px;
$padding-xl: 60px;
$tablet: 768px;
$mobile: 320px;
$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 480px;
$mobile-small-width: 320px;
