$color-dark-s:#CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$padding-s: 10px;
$padding-m: 30px;
$padding-l: 40px;
$padding-xl: 60px;
$pet-card-size: 27em;
$round-button-size: 52px;
$laptop-width: 1024px;
$tablet-width: 900px;
$mobile-big-width: 480px;
$mobile-small-width: 320px;
$burger-breakpoint: 767px;
