.winners {
  &__table {
    min-width: 450px;
    margin: 0 auto
  }

  &__th {
    font-size: 1.3em;
    font-weight: 400;
    color: $font-color-light;
    text-align: center;
    text-transform: capitalize;

    &--sortable {
      cursor: pointer;
    }

    &--active {
      color: $font-color-light-xl;
    }
  }

  &__td {
    padding: 5px;
    text-align: center;
  }

  .car {
    &__item {
      width: 50px;

      &::before {
        content: "";

        display: block;

        width: 50px;
        height: 50px;

        background: var(--car-color) url("@assets/img/petr.svg") center / contain no-repeat;

        mask: url("@assets/img/petr-mask.svg") center / contain no-repeat;

        -webkit-mask-image: url("@assets/img/petr-mask.svg");
        mask-image: url("@assets/img/petr-mask.svg");
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
      }
    }
  }

}
