.root {
  @include m-custom(900px) {
    grid-template: 'header' min-content 'game' auto 'footer' min-content / 1fr;
  }

  display: grid;
  grid-template: 'header levels' min-content 'game levels' auto 'footer levels' min-content / 1fr min-content;

  min-height: 100vh;

  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $font-color;

  background-color: $bg-light;
}
