.root {
  display: grid;
  grid-template: 'header levels' min-content 'game levels' auto 'footer levels' min-content / 2fr 300px;

  min-height: 100vh;

  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $font-color;

  background-color: $bg-light;
}
