.levels {
  @include flex-col($jc: start, $ali: center);

  grid-area: levels;
  gap: 10px;

  padding: 10px;

  color: $font-color-light;

  background-color: $bg-dark;

  &__header {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;

    font-size: 1.6em;
    font-weight: 600;
  }
}
