.editor {
  &-html &__markup {
    &::before,
    &::after {
      padding-left: 4px;
      color: #ea51b2;
      opacity: 0.7;
    }

    &::before {
      content: attr(data-opening);
    }

    &::after {
      content: attr(data-ending);
    }
  }

  &-html &__content {
    .markup {
      cursor: default;
      padding-left: 2ch;

      &.hovered {
        background-color: $lighter-s;

        &:has(.hovered) {
          background-color: transparent;
        }
      }
    }
  }
}
