.editor-html {
  .editor {
    &__content {
      padding-left: 0;

      .markup {
        padding-left: 2ch;

        &.hovered {
          background-color: $editor-additional-hover;

          &:has(.hovered) {
            background-color: transparent;
          }
        }
      }
    }
  }
}
