.editor {
  &-html &__content {
    .markup {
      padding-left: 2ch;

      &.hovered {
        background-color: $lighter-s;

        &:has(.hovered) {
          background-color: transparent;
        }
      }
    }
  }
}
